%a.add_quote{:href => '/quote/edit'} Add Quote
%a.add_quote{:href => '/random'} Random Quote
- Quote.all(:order => [ :id.desc ]).each do |quote|
  = haml :quote_view, :locals => {:quote => quote}
