= quote.errors.inspect unless quote.errors.empty?

.quote
  .quote_info
    %span
      %a{:href => "/quote/#{quote.id}"}
        Posted by
        =Person.get(quote.posted_by).name
        =quote.quote_date.strftime(fmt='%d-%m-%Y')
      %a{:href => "/quote/edit/#{quote.id}"}
        (edit)
  = render_quote(quote)
